/*** 全体の設定 ***/
body{
    background-color:rgba(229, 236, 241, 0.3);
}

#page {
    margin:0;
}

/* 主にレイアウトの設定
---------------------------------------------------- */
/*** メインコンテンツ ***/
#main{
    width: 1200px;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/*** 大きなセル ***/
.bigcell{
    padding: 5px;

}
.bigcell *{
    width:445px;
    height:405px;
    /* 角を丸く */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* マウスを乗せたとき */
.bigcell *:hover{
    opacity:0.8;
}

/*** 小さなセル ***/
.smallcell{
    padding: 5px;
}
.smallcell *{
    width:200px;
    height:200px;
     /* 角を丸く */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
/* マウスを乗せたとき */
.smallcell *:hover{
    opacity:0.8;
}

/* 主に文字表示の設定
---------------------------------------------------- */
/***　大きなセル　ventの説明 ***/
#vent{
    color: #fff;
    background-color:rgba(0,0,139,0.5);
    text-align:center;
    font-size: 25px;
}
/* 最初の文字だけ拡大 */
#vent span{
    font-size:60px;
}

/***　arduinoの文字　***/
#arduino{
    text-align:left;
    color: #fff;
    font-family:serif;
    font-size: 40px;
    background-color:#1abc9c;
}
/***　Electronic curの文字　***/
#electronic{
    text-align:center;
    color:#fff;
    font-family:cursive;
    font-size: 40px;
    background-color:#34495E;
    
}