@charset "UTF-8";
/*全体の調整*/
body {
	background: #2e2e35;
    font: 20px "ヒラギノ角ゴ Pro W3",'メイリオ', Meiryo,"ＭＳ Ｐゴシック", helvetica, arial, sans-serif;
    *font-size: small;
    *font: x-small;
}
a {
	color: #FFF;	
	text-decoration: none;
	outline: 0;
}
a:hover {
	color: #B0C4DE;
	text-decoration: none;
}
/*全体の設定*/
#container {
	margin: 0 auto;
	padding-bottom: 40px;
	width: 720px;
}
#home {
	position: absolute;
	top: 30px;
}
h1 {
	margin: 80px 0 40px;
}
p.copy {
	margin: 0 0 45px;
	color: #fff;
	font-size: 116%;
	line-height: 1.6;
}
/*ナビゲーション*/
ul#nav {
	padding-bottom: 45px;
	height: 15px;
	border-bottom: 1px solid #999;
}

ul#nav li {
	float: left;
	margin-right: 40px;
}
ul#nav li a {
	padding: 3px;
	color: #fff;
	text-decoration: none;
	font-size: 153.9%;
	opacity: 1;
}
ul#nav li a:hover {
	background-color: #2e2e35;
	color: #B0C4DE;
}
/*段落*/
div.cont {
	clear: both;
	margin-top: 80px;
}
div.cont h2 {
	margin-bottom: 20px;
	color: #fff;
	font-size: 182%;
	font-family: Helvetica, Arial, serif;
}
p.note {
	margin-bottom: 20px;
	color: #999;
	line-height: 1.6;
}

/*ページトップボタン（非表示）*/
/*
#pagetopBtn {
	position: fixed;
	right: 50px;
	bottom: -65px;
	width: 130px;
	height: 130px;
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	transition: 0.1s;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg); 
}

/*ページトップボタン（表示）*/
/*#pagetopBtn.show {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
*/
